<div class="footer">
  <ul class="list-inline footer-logos">
    <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
    <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
  </ul>
  <p>This is an exercise from Le Wagon</p>
</div>
